:root {
    --background-color: #f8f8f8;
    --border-color: #232323;
    --firstbtn-color: #4c5d7e;
    --secondbtn-color: #fa4512;
    --thirdbtn-color: #e7e7e7;
    --text-color: #636363;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    max-width: 205px;
    height: 419px;
    min-height: 419px;
    background: var(--background-color);
    border: 4px solid #232323;
    border-radius: 40px;
    margin: 70px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mic-sec {
    position: relative;
    top: 6px;
    left: -2px;
    width: 50px;
    height: 30px;
    border-radius: 0 20px 20px 0;
    background: #e5e1e188;
  }
  .mic {
    position: absolute;
    top: 5px;
    left: 14px;
    cursor: pointer;
  }
  #answer {
    min-height: 90px;
    max-height: 20px;
    text-align: right;
    font-size: 35px;
    font-weight: 600;
    color: #434856;
    padding: 2px 6px;
    word-break: break-all;
    overflow: hidden;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .display-sec {
    position: relative;
  }
  #text-display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 300;
    word-break: break-all;
    height: 40px;
    background: #e5e1e16f;
    color: #434856;
  }
  #back-btn{
    position: absolute;
    top: 12px;
  }
  
  .digits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
    height: 231px;
    max-width: 208px;
    padding: 5px;
  }
  .zero {
    grid-column: 1/3;
    margin: 0 auto;
    padding: 0 40px;
  }
  button {
    max-width: 34px;
    min-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
    position: static;
  }
  .first {
    background: var(--firstbtn-color);
    color: var(--thirdbtn-color);
  }
  .first:hover {
    background-color: #4c5d7ed1;
  }
  .sec {
    background: var(--secondbtn-color);
    color: var(--thirdbtn-color);
  }
  .sec:hover {
    background-color: #e33f11f0;
  }
  .third {
    background: var(--thirdbtn-color);
    color: var(--text-color);
  }
  .third:hover,
  .zero:hover {
    background-color: #4c5d7e31;
  }
  